<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <!-- Ruta de Acceso al CRM MACAL -->
    <add key="Usuario_CRM" value="imqd8kanHBs/cPVfNmdJarH+syb/RNEFR2sTyFNUfLU=" />
    <add key="Clave_CRM" value="ZwD/y9Dy8fzwC6yli4zdjA==" />
    <add key="URL_CRM" value="tjA/CL3bvsgjvXSUm3EKQwH1knBiGZKzILAMi5dMyrObVfmk0Nii+6d/itQIeSIk" />
    <add key="Connection_CRM" value="Url={0}; Username={1};Password={2};AuthType=Office365;" />
    <!-- Cierre de Acceso al CRM MACAL -->
    
    <!-- ========== CONFIGURACION ENVÍO DE CORREOS MEDIANTE DLL ====================================== -->
    <!--    <add key="CorreoCliente" value="lvnO9pSA5tWbHV7H2y82ogqFiEX7lm6G"/>
    <add key="CorreoClave" value="ZwD/y9Dy8fzwC6yli4zdjA=="/>
    <add key="Host" value="XrU//gmCpVvpZvEGyT0lT1F8j+vkDIyD"/>
    <add key="Port" value="+WT636dsK3c="/> -->    
    <!-- ========== FIN DE CONFIGURACION ENVÍO DE CORREOS MEDIANTE DLL =============================== -->
    
    <!-- ========== CONFIGURACION A QUIÉN LE MANDAMOS EL CORREO ====================================== -->
    <!-- <add key="CorreoSoporte" value="LnjdSPXX34GsnCZeqzsrMi2W1oD9V0oU"/>-->
    <!-- ========== FIN DE CONFIGURACION A QUIÉN LE MANDAMOS EL CORREO =============================== -->
    <!-- ========== VARIOS ====================================== -->
    
    <add key="Dolar" value="954760000" />
    <add key="UF" value="954760001"/>

    <!-- ========== FIN VARIOS =============================== -->
    <!-- Ruta del Log -->
    <add key="PathLogServicio" value="C:\Users\cmarin\Desktop\Tipo_de_Cambio\TipoCambio.UI\Log\TipoCambio " />
    <!-- <add key="PathLogServicio" value="D:\Log\Facturación crm Comercial\"/>-->
    <!-- Cierre de la Ruta del Log -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  
  
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
  
  
  
  
  
  
</configuration>